
 <%- include header.ejs %>	

      
      	<div class="row">
      		<div class="col-lg-10">
		        <h1>Ditch the Spreadsheets</h1>
		        <p>
		        	When you send and recieve bitcoins, you may be liable for taxes due to price changes.  This is a simple tool 
		        	to help users of the Bitcoin network figure out any gains or losses.
		        </p>
		        <p>To see your transactions, gains, and losses enter your public Bitcoin addresses below.</p>
		    </div>

		    <div class="col-lg-2">
		        <h3 class="text-center">BTC Price</h3>
		        <p class="text-center">$<%= price %></p>
		    </div>

    	</div>

    	<div class="row">
	        <div class="col-lg-6">

		        <h2>Your Public Addresses</h2>		        
		        <form method="post" action="/" >	
		        	<div class="input-group">			      
				      <input name="newAddress" type="text" class="form-control" placeholder="Ex: 177psxfR31NACwxCn8p81efs65ofueSTBf">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="submit">Add</button>
				      </span>				    
			    	</div><!-- /input-group -->
			    </form>
			   	<ul id="address-list" class="list-group">
				  	
				  	<!-- iterate over the addresses the user has entered and add them to the list -->
				  	<% for(var i=0; i<addresses.length; i++) {%>
						<li class="list-group-item">
							<%= addresses[i] %>
							<form method="post" action="/" class="pull-right">
								<input type="hidden" name="removeAddress" value="<%= addresses[i] %>">
								<button type="submit" class="btn btn-default btn-sm">
								  <span class="glyphicon glyphicon-remove"></span>
								</button>
							</form>									
						</li>						
					<% } %>
				  
				</ul>

			</div>
		</div>

		<div class="row">
	        <div class="col-lg-12">
				<div class="panel panel-default">
				  
				  <div class="panel-heading">Transactions</div>

				  <!-- Table -->
				  <table class="table">
				  	<tr>
				  		<th>Date</th>
				  		<th>Type</th>
				  		<th>BTC Amount</th>
				  		<th class="text-right">BTC Price</th>
				  		<th class="text-right">USD Amount</th>
				  		<th class="text-right">Gain/Loss</th>
				  	</tr>				  	

				  	<% for(var i = 0; i < displayTransactions.length; i++) {%>
				  		<tr>
					  		<td> <%= displayTransactions[i].date_str %></td>
					  		<td> 
					  			<% if(displayTransactions[i].incoming){ %>
					  			Incoming
					  			<% } else { %>
					  			Outgoing
					  			<% }%>
					  		</td>					  		
					  		<td class="text-center"> <%= displayTransactions[i].btc_amount %></td>
					  		<td class="text-right"> <%= displayTransactions[i].btc_price_str %></td>					  		
					  		<td class="text-right"> <%= formatMoney(displayTransactions[i].btc_price * displayTransactions[i].btc_amount) %> </td>
					  		<td class="text-right"> 
					  			<% if (!displayTransactions[i].incoming) { %>
					  				<%= formatMoney(displayTransactions[i].totalGains) %>
					  			<% }%>
					  		</td>
				  		</tr>
				  	<% } %>


				  </table>
				</div>
			</div>
		</div>

		<div class="row">
	        <div class="col-lg-12">
	          <div class="panel panel-default">

		        <div class="panel-heading">Totals</div>

				  <!-- Table -->
				  <table class="table">
				  	<tr>
				  		<th>Title</th>
				  		<th class="text-center">USD</th>
				  		<th class="text-right">BTC Amount</th>				  	
				  	</tr>
				 
				  	<tr>
				  		<td>Total Recieved</td>				  		
				  		<td class="text-right"><%= formatMoney(totalRecievedUsd) %></td>
				  		<td class="text-right"><%= totalRecieved.toFixed(4) %> BTC</td>
				  	</tr>

				  	<tr>
				  		<td>Total Sent</td>				  		
				  		<td class="text-right"><%= formatMoney(totalSentUsd) %></td>
				  		<td class="text-right"><%= totalSent.toFixed(4) %> BTC</td>
				  	</tr>

				  	<tr>
				  		<td>2013 Short Term Gains (Loss)</td>
				  		<td class="text-right"><%= formatMoney(totalShortTermGains) %></td>
				  		<td class="text-right"></td>
				  	</tr>

				  	<tr>
				  		<td>2013 Long Term Gains (Loss)</td>
				  		<td class="text-right"><%= formatMoney(totalLongTermGains) %></td>
				  		<td class="text-right"></td>
				  	</tr>

				  	<tr>
				  		<td>Current Addresses Value</td>
				  		<td class="text-right"><%= formatMoney(balanceUsd) %></td>
				  		<td class="text-right"><%= balance.toFixed(4) %> BTC</td>
				  	</tr>

				  </table>
				</div>
			</div>
		</div>      
    

<%- include footer.ejs %>